.filterForm {
  position: sticky;
  top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 16px;
  color: black;
  font-size: 12px;
  padding: 40px 12px;
  width: 300px;
}

.filterForm input,
select {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 20px;
  color: black;
  font-size: 12px;
}

.filterForm button {
  color: white;
  border-radius: 4px;
  margin-top: 16px;
}

.filterForm label {
  margin-top: 8px;
}
