.searchPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}

.searchPageContainer form {
  margin-top: 16px;
  width: 90vw;
  display: flex;
  gap: 20px;
}
